.experience-main {
  width: 100%;
}

.experience-image {
  width: 100%;
  max-width: 350px;
  height: auto;
}

.basic-experience {
  margin-left: 5%;
  margin-right: 5%;
}

.experience-heading-div {
  display: flex;
}

.experience-heading-div > * {
  flex: 1;
}

.experience-heading-img-div {
  flex: 0 0 18%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.experience-heading-text-div {
  text-align: center;
}

.experience-heading-img-div > * {
  max-width: 100%;
  height: auto;
}

.experience-heading-text {
  font-size: 56px;
  font-weight: 400;
  font-family: "Google Sans Medium";
  line-height: 1.1;
  text-align: center;
  margin-top: 80px;
}

.experience-heading-sub-text {
  font-size: 30px;
  font-family: "Google Sans Regular";
  text-align: center;
  margin-bottom: 10px;
}

.experience-header-detail-text {
  font-size: 18px;
  line-height: 1.45;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  max-width: 850px;
  text-align: center;
  font-family: "Google Sans Medium";
}

@media (max-width: 1380px) {
  .experience-heading-text {
    font-size: 50px;
    margin-top: 80px;
  }
  .experience-heading-sub-text {
    font-size: 25px;
  }
}

@media (max-width: 768px) {
  .experience-heading-text {
    font-size: 30px;
    margin-top: 20px;
  }

  .experience-heading-sub-text {
    font-size: 20px;
  }

  .experience-heading-div {
    flex-direction: column;
  }

  .experience-header-detail-text {
    font-size: 15px;
    line-height: 1.45;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 88%;
  }
  .experience-image {
    max-width: 260px;
  }
}


.experience-heading-text-div .experience-header-detail-text.subTitle {
  font-size: 20px;
  line-height: 1.45;
  text-align: center;
  max-width: 850px;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 768px) {
  .experience-heading-text-div .experience-header-detail-text.subTitle {
    font-size: 15px;
    line-height: 1.45;
    text-align: center;
    max-width: 88%;
    margin-left: auto;
    margin-right: auto;
  }
}
